<script>
	window.onscroll = function () { 
		 var t = document.body.scrollTop ;
		 var top = document.getElementById('top')
		 if (t > 35) {
		 top.style.position="fixed";
		 } else { 
         top.style.position='';
		 } 
		}
   function show(li){
        var subMenu = li.getElementsByClassName("you")[0];
		subMenu.style.display='block';
		li.style.background='#ffffff'
		var acolor = li.getElementsByTagName("a")[0];
		acolor.style.color="#d70c18";
		var acolora = li.getElementsByTagName("a")[1];
		acolora.style.color="#d70c18";
   }
   function hide(li){
        var subMenu = li.getElementsByClassName("you")[0];
		subMenu.style.display='none';
		li.style.background='rgba(255,255,255,0.1)';
		var acolor = li.getElementsByTagName("a")[0];
		acolor.style.color="#000000";
		var acolora = li.getElementsByTagName("a")[1];
		acolora.style.color="#000000";
   }
   function showNav(li){
		var acolor = li.getElementsByTagName("a")[0];
		acolor.style.color="#d70c18";
   }
   function hideNav(li){
		var acolor = li.getElementsByTagName("a")[0];
		acolor.style.color="#000000";
   }
</script>
<style>
.top{
 transition-duration: 0.5s; 
 box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.1);
}
.logo{
	position: relative;
	width:300px;
	height: 70px;
	background-image: url("images/logo.png");
	background-size: cover;
	float: left;
	margin-left: 30px;
}
.logo .logoDown{
	display:none;
	z-index: 3;
	position:absolute;
	top:70px;
	width: 100%;
	height: 200px; 
	left: 0;  
	background:rgba(232,233,235,1);
}
 .logo:hover .logoDown{   
   display: block;
  } 
  .Navigation{
  	float: left;
  	margin-top: 35px;
  }

 .Navigation ul li{
 	float: left;
 }
.clear{
	clear:both;
} 
.Carousel{
 	width: 100%;
 	position:relative;
 }
 .Carousel .zuo{
 	top:50px;
 	left:100px;
 	position:absolute;
 	width: 250px; 
 	height: 360px; 
 }
  ul{
 	list-style:none
 }
.headline{
	background: rgba(255,255,255,0.9);
	width:100% ;
	height: 60px;
	line-height: 60px;
	color: #000000;
}
 .you{
 	display: none;
 	background: #FFFFFF;
 	position: absolute;
 	width: 850px;
 	height: 360px;
 	left: 250px;
 	top: 0px;
 }
.goodsDetail{
	background-color: #f5f5f5;
	height: 270px;
	width:80%;
	margin-left: 10%;
	margin-top: 10px;
	 
}
.tit{
	margin-left: 10%;
	color: #000000;
	font-size: 20px;
}
.goodshow:hover {  
  -webkit-box-shadow:0 0 20px rgba(131, 131, 131, .7);  
  -moz-box-shadow:0 0 20px rgba(131, 131, 131, .7);  
  box-shadow:0 0 20px rgba(131, 131, 131, .7);  
} 
.goodsDetail .goodshow{
	background-color: #FFFFFF;
	height: 270px;
	width: 24%;
	float: left;
	margin-left: 9px;
}
.goodshow img{  
  
    transition: all 0.6s;  
}  
.goodshow img:hover{  
    transform: scale(1.1);  
} 
.newgood{
	position:relative;
	background: url(/images/t4.jpg);
	height: 500px;
	overflow:hidden;
	top: 20px;
} 
.bg{
	widows: 100%;
	height: 500px;
}
.nowword{
	position: absolute;
	height: 300px ;
	float:right;
	right: 80px;
	top:120px
}
.newgood:hover .aline{
	 text-decoration:underline;
}
.newgood:hover .bg{
	background: rgba(0,0,0,0.4);
}

</style>

<% include head %>
<% include ui/login %>
<% include ui/register %>
<div style="height: 92px;">
<div style="background-color: #ffffff; height: 92px; position: ;z-index: 10;"  class="col-sm-12 top " name="top" id="top">
    <div class="logo">
     <!--子下拉框 -->
     <div class="logoDown" id="down" name="down" style=" ">
		154714817
		rgyq874ty8q74
     </div>
     <!------->
    </div>

    <div style="float:right ;margin-right: 130px;margin-top: 18px;">
     	<% include ui/search%>
   	</div>
   	<div class="Navigation">
          <ul>
	      	<li onmouseover="showNav(this)" onmouseout="hideNav(this)"><div style="font-size: 20px;width: 150px;" align="center"><a href="#" style="color: #000000;">商城</a></div></li>
	      	<li onmouseover="showNav(this)" onmouseout="hideNav(this)"><div style="font-size: 20px;width: 150px;" align="center"><a href="#" style="color: #000000;">地图</a></div></li>
	      	<li onmouseover="showNav(this)" onmouseout="hideNav(this)"><div style="font-size: 20px;width: 150px;" align="center"><a href="#" style="color: #000000;">消息</a></div></li>
          </ul>
    </div>
</div>
</div>
<div class='clear'></div>

 <div class="Carousel">
	<div id="myCarousel" class=" carousel slide " >
				<!-- 轮播（Carousel）指标 -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>   
		<!-- 轮播（Carousel）项目 -->
		<div class="carousel-inner " style="height: 550px;" >
			
			<div class="item active" style="overflow: hidden;">
				<img src="/images/T5.jpg" alt="First slide" >
			</div>
			<div class="item" style="overflow: hidden;">
				<img src="/images/T6.jpg" alt="Second slide">
			</div>
			<div class="item " style="overflow: hidden;">
				<img src="/images/T7.jpg" alt="Third slide" >
			</div>
		</div>
		<!-- 轮播（Carousel）导航 -->
		<a class="carousel-control left" href="#myCarousel" 
		   data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" 
		   data-slide="next">&rsaquo;</a>
	</div> 
	
	
	<div class="zuo" >
		<ul>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">热销商品</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表一
				</div>
			</li>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">拖拉机</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表二
				</div>
			</li>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">塔吊</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表三
				</div>
			</li>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">三轮车</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表四
				</div>
			</li>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">红蹦蹦</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表五
				</div>
			</li>
			<li  onmouseover="show(this)" onmouseout="hide(this)">
				<div class="headline" align="center">
				<a href="#" style="color: #000000;">虎钳</a><a style="float: right;color: #000000;font-size: 2px;margin-right: 15px;">☛</a>
				</div>
				<div class="you">
					列表六
				</div>
			</li>
		</ul>
	</div>
	
</div>	
<!--热门商品店铺-->
<div class='goodsDetail'>
     	<div class="goodshow" style="background-color:#d70c18 ;">
     	<div style="margin-top: 60px;">
     	<p style="font-size: 40px;color: #FFFFFF;margin-left: 40px;"><i>热售商品</i> <br />
     	<span style="font-size: 20px;color: #FFFFFF; float: right;margin-right: 20px;">心动520</span>
     	</p>
     	<hr width="80%" />
     	<p style="font-size: 18px;color: #FFFFFF;margin-left: 90px;">心动·行动</p>
     	</div> 
        </div>
     <div class="goodshow">
     	<div style="overflow: hidden;" ><img src="/images/s1.jpg" style="height: 200px;width: auto;margin-left: 30px;" /></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s2.jpg" style="height: 200px;width: auto;margin-left: 25px;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s3.jpg" style="height: 200px;width: auto;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
</div> 
<div class='goodsDetail'>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s4.jpg" style="height: 200px;width: auto;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s5.jpg" style="height: 200px;width: auto;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s6.jpg" style="height: 200px;width: auto;margin-left: 30px;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
     <div class="goodshow">
     	<div style="overflow: hidden;"><img src="/images/s7.jpg" style="height: 200px;width: auto;"/></div>
     	<div align="center">
     		sadsdadas
     	</div>
     </div>
</div>
<!--新品上市-->
<a href="#">
	<div class="newgood ">
		<div class="bg">
			<div class="nowword">
				<p style="color: #FFFFFF; font-size: 50px;">
					九成新的拖拉机入驻平台			
				</p>
				<p style="color: #ffffff; font-size: 26px;">心动·快行动</p>
				<p style="margin-top: 140px;font-size: 20px;color: #FFFFFF;"><a class="aline" style="color: #FFFFFF;">￥:8000</a></p>
			</div>
		</div>
	</div>
</a>
<div style="width: 100%; height: 500px;border: 1px solid red; margin-top: 40px;">待定的功能块</div>
	<% include ui/tail%>
  </body>
</html>
